<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="https://logging.apache.org/log4j/2.x/">
<Appenders>
    <File name="fileAppender" fileName="${catalina.base}/logs/openerp-feed-service.log">
        <PatternLayout pattern="%d %-5p [openerp-atomfeed-service][%c] %m%n"/>
    </File>
    <Console name="console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d %-5p [openerp-atomfeed-service] [%c] %m%n"/>
    </Console>
</Appenders>
<Loggers>
    <Root level="warn">
        <AppenderRef ref="fileAppender"/>
        <AppenderRef ref="console"/>
    </Root>
</Loggers>
</Configuration>