<?xml version="1.0" encoding="UTF-8"?>
<!--
############################################################################
##
##  This is the log configuration for production.
##
############################################################################
-->
<Configuration status="warn">

    <Appenders>
    
        
        <RollingFile name="fileAppender" fileName="${catalina.base}/logs/openerp-feed-service.log" filePattern="${catalina.base}/logs/openerp-feed-service-%i.log">
            <PatternLayout pattern="%d %-5p [openerp-atomfeed-service][%c] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5000KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>    
        </RollingFile>
        
        
        <Console name="console">
            <PatternLayout pattern="%d %-5p [openerp-atomfeed-service] [%c] %m%n"/>
        </Console>
        
    </Appenders>
    
    <Loggers>
        
        <Logger name="org.springframework" level="WARN">
            <AppenderRef ref="fileAppender"/>
            <AppenderRef ref="console"/>
        </Logger>
        
        
        <Root level="WARN">
            <AppenderRef ref="fileAppender"/>
            <AppenderRef ref="console"/>
        </Root>      
    
    </Loggers>
    
</Configuration>
